[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mysqlclient = "==1.3.13"
certifi = "==2018.4.16"
chardet = "==3.0.4"
defusedxml = "==0.5.0"
idna = "==2.7"
oauthlib = "==2.1.0"
"python3-openid" = "==3.1.0"
pytz = "==2018.5"
requests-oauthlib = "==1.0.0"
requests = "==2.19.1"
six = "==1.11.0"
"urllib3" = "==1.23"
Django = "==2.0.7"
PyJWT = "==1.6.4"
django-material = "==1.3.0"
jseg = "==0.0.4"
ckip-segmenter = "==1.0.2"
uWSGI = "==2.0.17.1"
django-allauth = "*"
djangorestframework = "*"
python-memcached = "*"
python-social-auth = "*"
django-rest-auth = "*"
social-auth-core = "*"
social-auth-app-django = "*"

[dev-packages]
"flake8" = "*"
"flake8-docstrings" = "*"
httpie = "*"

[requires]
python_version = "3.7"

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
