h1,
h2,
h3,
h4,
h5,
h6,
header a {
    font-family: Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "Microsoft JhengHei", "標楷體", DFKai-SB, sans-serif;
    /* font-weight: 700; */
}

.topnav {
    background: none;
    box-shadow: none;
    height: 30px;
    background-color: #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    color: black;
}

.topnav a {
    color: black;
}

footer {
    background-color: #e0e0e0;
}

main > .row {
    margin: 0 40px;
}

header,
main,
footer {
    padding-left: 250px;
}

.sidenav {
    width: 250px;
    box-shadow: none;
    border-right: 1px solid #e0e0e0;
}

.logo {
    text-align: center;
    padding: 3em 0 2em 0;
}

body {
    font-family: Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "Microsoft JhengHei", "標楷體", DFKai-SB, sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.light-bg {
    background-color: #cdf4e5;
}

textarea {
    border: 1px solid black;
    resize: none;
    height: 250px;
    padding: 20px;
}

nav {
    line-height: 30px;
    font-weight: 400;
}

header {
    position: relative;
}

.sidenav-trigger {
    position: absolute;
    top: 3px;
    left: 10px;
    color: black;
}

.sidenav .divider {
    margin: 0;
}

.modal {
    /* width: 30%; */
    max-height: 90%;
}

/* social login */

#login-modal .modal-content {
    padding: 2em 2em 0 2em;
}

#login-modal .row {
    padding: 1em 0;
    border-radius: 2px;
}

#login-modal i {
    font-size: 2em;
}

.facebook {
    background-color: #3b5998 !important;
    color: #fff !important;
}

.facebook i {
    color: #fff !important;
}

.facebook:hover {
    background-color: #4c70ba !important;
}

.github {
    background-color: #444444 !important;
    color: #fff !important;
}

.github i {
    color: #fff !important;
}

.github:hover {
    background-color: #5e5e5e !important;
}

.google {
    background-color: #dd4b39 !important;
    color: #fff !important;
}

.google i {
    color: #fff !important;
}

.google:hover {
    background-color: #e47365 !important;
}

#login-modal, #reg-modal {
    width: 30%;
}

@media only screen and (max-width: 992px) {
    header,
    main,
    footer {
        padding-left: 0;
    }

    main > .row {
        margin: 0 10px;
    }

    .modal {
        width: 90%;
    }

    #login-modal, #reg-modal {
        width: 80%;
    }
}

/* PrismJS 1.15.0
https://prismjs.com/download.html#themes=prism&languages=python&plugins=line-numbers */

/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*="language-"],
pre[class*="language-"] {
    color: black;
    background: none;
    text-shadow: 0 1px white;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
    text-shadow: none;
    background: #b3d4fc;
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
    text-shadow: none;
    background: #b3d4fc;
}

@media print {
    code[class*="language-"],
    pre[class*="language-"] {
        text-shadow: none;
    }
}

/* Code blocks */

pre[class*="language-"] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    background: #f5f2f0;
}

/* Inline code */

:not(pre) > code[class*="language-"] {
    padding: .1em;
    border-radius: .3em;
    white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: slategray;
}

.token.punctuation {
    color: #999;
}

.namespace {
    opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
    color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
    color: #9a6e3a;
    background: hsla(0, 0%, 100%, .5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
    color: #07a;
}

.token.function,
.token.class-name {
    color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
    color: #e90;
}

.token.important,
.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

pre[class*="language-"].line-numbers {
    position: relative;
    padding-left: 3.8em;
    counter-reset: linenumber;
}

pre[class*="language-"].line-numbers > code {
    position: relative;
    white-space: inherit;
}

.line-numbers .line-numbers-rows {
    position: absolute;
    pointer-events: none;
    top: 0;
    font-size: 100%;
    left: -3.8em;
    width: 3em;
    /* works for line-numbers below 1000 lines */
    letter-spacing: -1px;
    border-right: 1px solid #999;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.line-numbers-rows > span {
    pointer-events: none;
    display: block;
    counter-increment: linenumber;
}

.line-numbers-rows > span:before {
    content: counter(linenumber);
    color: #999;
    display: block;
    padding-right: 0.8em;
    text-align: right;
}

#logout_button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
}

#toast-container {
    top: 5% ;
    right: 50% !important;
    bottom: auto !important;
    left: auto !important;
}