{% extends 'base.html' %}
{% load material_form %}

{% block main_title %}
Concordance
{% endblock main_title%}


{% block main_content %}
<form method="POST">
  {% csrf_token %}
  {% form form=form %}
    {% part form.pos %}
      <label>{{ form.pos.label }}</label> 
      <br>
      <br>
      <div class="switch">
        Off
        <label>
          <input type="checkbox" id="{{ form.pos.auto_id }}" name="{{ form.pos.name }}" value="{{ form.pos.value }}" >
          <span class="lever"></span>
        </label>
        On
      </div>
      <br>
      <br>
    {% endpart %}
    {% part form.boards %}
      <label>{{ form.boards.label }}</label>
      <div class="chips chips-autocomplete">
        <input id="_boards" class="input">
      </div>
    {% endpart %}
  {% endform %}
  <div class="row">
    <div class="col s12 m12">
      <button type="submit" name="submit" class="btn waves-effect waves-light valign-wrapper blue-grey lighten-3" style="width:100%">Submit</button>
    </div>
  </div>
</form>
<br>
{% endblock main_content %}

{% block extra_js %}
	<script>
	document.addEventListener('DOMContentLoaded', function() {
		var select_elm = document.querySelectorAll('select');
		var select_instances = M.FormSelect.init(select_elm);
		var datepicker_elm = document.querySelectorAll('.datepicker');
    var datepicker_instances = M.Datepicker.init(datepicker_elm, {format: 'yyyy-mm-dd'});
	});
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.chips');
    var boards = {{ boards|safe }};
    var options = {
      data: document.getElementById("{{ form.boards.auto_id }}").value.split(",").map(function(e) {return {tag: e}}),
      autocompleteOptions: {
        data: boards
      },
      onChipAdd: function(e, chip) {
        if (!boards.hasOwnProperty(chip.firstChild.data)) {
          var chips = document.getElementsByClassName('chip');
          chips[chips.length-1].remove();
        } else {
          updateBoards();
        }
      },
      onChipDelete: function(e, chip) {
        updateBoards();
      }
    };
    var instances = M.Chips.init(elems, options);
  });
  function updateBoards() {
    var d = document.getElementsByClassName("chip");
    var tmp = [];
    for (var i = 0; i < d.length; i++) {
      tmp.push(d[i].firstChild.data);
    }
    document.getElementById("{{ form.boards.auto_id }}").value = tmp;
    console.log(document.getElementById("{{ form.boards.auto_id }}").value);
  };
	</script>
{% endblock extra_js %}

