{% extends 'base.html' %}
{% load material_form %}

{% block main_title %}
Concordance
{% endblock main_title%}


{% block main_content %}
<form method="POST">
  {% csrf_token %}
  {% form form=form %}
    {% part form.pos control %}
    <div class="switch">
      Off
      <label>
        <input id="{{ form.pos.auto_id }}" name="{{ form.pos.name }}" type="checkbox">
        <span class="lever"></span>
      </label>
      On
    </div>
    {% endpart %}
    {% part form.window_size %}
    <p class="range-field">
      <input type="range" id="{{ form.window_size.auto_id }}" name="{{ form.window_size.name }}" value="10" min="5" max="30" />
    </p>
    {% endpart %}
    {% part form.size %}
    <p class="range-field">
      <input type="range" id="{{ form.size.auto_id }}" name="{{ form.size.name }}" value="10" min="10" max="100" step="10" />
    </p>
    {% endpart %}
  {% endform %}
  <button type="submit" name="submit" class="btn waves-effect waves-light valign-wrapper blue-grey lighten-3">Submit</button>
</form>
<br>
{% endblock main_content %}

{% block extra_js %}
	<script>
	document.addEventListener('DOMContentLoaded', function() {
		var select_elm = document.querySelectorAll('select');
		var select_instances = M.FormSelect.init(select_elm);
		var datepicker_elm = document.querySelectorAll('.datepicker');
		var datepicker_instances = M.Datepicker.init(datepicker_elm);
	});
	</script>
{% endblock extra_js %}

