{% extends 'base.html' %}
{% load material_form %}

{% block main_title %}
Segmentation
{% endblock main_title %}

{% block main_content %}
<div id="modal1" class="modal">
    <div class="modal-content">
        <h5>Jseg 結巴斷詞系統 <a href="https://github.com/amigcamel/Jseg">Github repo</a></h5>
        <div class="divider"></div>
        <ul>
            <li>- An enhanced version of <a href="https://github.com/fxsjy/jieba">Jieba</a> segmentator.</li>
            <li>- Using directed acyclic graph</em> (DAG) and Hidden Markov Model (HMM) to segmentate Chinese words.</li>
            <li>- Data are trained with Sinica Corpora. Equipped with Emoticon detection. F1-score: 0.91</li>
        </ul>

        <h5>PyCCS 中研院線上斷詞API <a href="https://github.com/amigcamel/PyCCS">Github repo</a></h5>
        <div class="divider"></div>
        <ul>
            <li>- An API for <a href="http://ckipsvr.iis.sinica.edu.tw/">CKIP Segmentator</a> written in Python</li>
            <li>- Automatically separate word and POS tags</li>
            <li>- Html-like tag can be segmentated normally</li>
        </ul>

        <h5>Segcom</h5>
        <div class="divider"></div>
        <ul>
            <li>- A tool for comparing the different results from Jseg and PyCCS</li>
        </ul>

    </div>
</div>
<div class="row section">
  <form method='POST'>
    {% csrf_token %}
    {% form form=form %}
      {% part form.algo help_text %}
      <br>
      <a class="modal-trigger" href="#modal1">What's the difference?</a>
      {% endpart %}
    {% endform %}
    <button type="submit" name="submit" class="btn waves-effect waves-light valign-wrapper blue-grey lighten-3" style="width:100%">Submit</button>
  </form>
</div>
{% endblock main_content %}
